<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Intelligent lockdown</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>STG</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.694917141815-pecqvb70pi0mhv6m6ak6se5l4a5etlq9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PROD</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.694917141815-pecqvb70pi0mhv6m6ak6se5l4a5etlq9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>&lt;staging-identifier&gt;</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>&lt;opentrace&gt;</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>&lt;prod-identifier&gt;</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>&lt;opentrace&gt;</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>27</string>
	<key>FIREBASE_STORAGE_URL</key>
	<string>$(FIREBASE_STORAGE_URL)</string>
	<key>GitBranchInfo</key>
	<string>clean_app_delegate - Commit: 90b3a10</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>OpenTrace exchanges Bluetooth signals with nearby phones running the same app. These signals contain an anonymised ID, which is encrypted and changes continually to ensure your privacy.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>OpenTrace exchanges Bluetooth signals with nearby phones running the same app. These signals contain an anonymised ID, which is encrypted and changes continually to ensure your privacy.</string>
	<key>NSCameraUsageDescription</key>
	<string>Grant OpenTrace permissions to access your camera if you would like to upload a photo as part of a support request</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Grant OpenTrace permissions to access your photo library if you would like to upload a photo as part of a support request</string>
	<key>TRACER_SVC_ID</key>
	<string>${SERVICE_UUID}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Muli-Bold.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-Semi-BoldItalic.ttf</string>
		<string>Muli-Semi-Bold.ttf</string>
		<string>Muli-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>V2_CHARACTERISTIC_ID</key>
	<string>$(V2_CHARACTERISTIC_ID)</string>
</dict>
</plist>
